* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #000;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --toggle-handle-color: #ffffff;
  --font-family: "Onest", sans-serif;
  --text-md: 500 1rem/160% var(--font-family);
  --text: 1rem/160% var(--font-family);
  --text-sm: 0.875rem/170% var(--font-family);
  --background-image: url("../images/bg-mobile-light.jpg");
}

.dark {
  --text-color: #fff;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --background-image: url("../images/bg-mobile.jpg");
}

:focus {
  outline: 3px solid var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: var(--background-image) no-repeat top center/cover;
  font: var(--text);
  color: var(--text-color);
  height: 100vh;
  padding-top: 56px;
}

img {
  display: block;
}

@media (min-width: 400px) {
  :root {
    --background-image: url("../images/bg-desktop-light.jpg");
  }
  html.dark {
    --background-image: url("../images/bg-desktop.jpg");
  }
}
